<h1><%= @product.name %></h1>

<p> A picture will go here.</p>

<p> <%= @product.name %>, Price: $<%= @product.formatted_price %> </p>
<p> <%= @product.description %> </p>

<%= link_to "Back to Products", products_path %>